<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960282229932-tpgllpe1o49imvn1leh6tsn85r1lv6jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960282229932-tpgllpe1o49imvn1leh6tsn85r1lv6jm</string>
	<key>API_KEY</key>
	<string>AIzaSyCgwyNZgfOkLDhgPpPK2zKqhy5X7nMp8mg</string>
	<key>GCM_SENDER_ID</key>
	<string>960282229932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bitely</string>
	<key>PROJECT_ID</key>
	<string>bitely-7e91a</string>
	<key>STORAGE_BUCKET</key>
	<string>bitely-7e91a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960282229932:ios:6e67d5fc298b518bdf3309</string>
</dict>
</plist>